.red {
    color: red;
  }
  
  .bold {
    font-weight: bold;
  }
  
  .Button {
    border: none;
    padding: 16px;
    background: green;
    font: inherit;
    cursor: pointer;
    color: white;
    outline:0;
  }
  
  .Button:hover {
    background: lightgreen;
    color: black;
  }
  
  .Button.Red {
    background: red;
  }
  
  .Button.Red:hover {
    background: salmon;
    color: black;
  }